*,
*::before,
*::after {
    box-sizing: border-box;
}


:root {
    --ff-primary: 'Courier New', Courier, monospace;
    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #ed731c; 

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --menu-speed: 1s;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background:var(--clr-light);
    color: var(--clr-dark);
    line-height: 1.5;
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
    min-height: 100%;
}

.btn {
    background-color: var(--clr-accent);
    display: inline-block;
    color: var(--clr-dark);
    padding: .5em 2em;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    border-radius: .5em;
}

.btn:hover {
    transform: scale(1.1);
}

body i {
    font-family:'FontAwesome';
    font-size: var(--fs-h2);
}

/* Typography */

strong {font-weight: var(--fw-bold);}

:focus {
    outline: 3px solid var(--clr-accent);
}

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

.section-title-intro {
    font-weight: var(--fw-reg);
}

.section-title-intro strong {
    display: block;
}

.section-subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section-subtitle-intro,
.section-subtitle-about {
    background: var(--clr-accent);
    padding: .25em .25em;
    margin-bottom: 1em;
}

/* nav */

.logo img {
    max-width: 150px;
    display: block;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav-list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
}

.nav-link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .25em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 101;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

/* Intro section */

.intro {
    position: relative;
}

.section-subtitle-intro {
    display: inline-block;

}

@media (min-width: 600px) {
    .intro {
        display: grid;
        grid-column-gap: 1em;
        width: min-content;
        margin: 0 auto;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro-img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
    .section-subtitle-intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: absolute;
        left: -1.25em;
        right: 0;
        margin-top: 3em;
    }
}

/* Skills */

.my-skills {
    background-color: var(--clr-dark);
    background-image: url(./img/skills-bg.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.section-title-skills {
    color: var(--clr-accent);
    position: relative;
}

.section-title-skills::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: .5em auto 1em;
    background: currentColor;
    opacity: .5;
}



.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto 1em;
}

.skill {
    height: auto;
    margin-bottom: 2em;
}

.skill img {
    min-height: auto;
    width: 100px;
    margin: .5em auto;
}

.lvl {
    color: var(--clr-accent);
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .skills {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        max-width: 1200px;
        width: 100%;
        margin: auto;
    }

    .skill {
        margin: 1em 1em 0 1.5em;
        height: 300px;
    }
}

.my-work {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;
}

.section-subtitle-work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
}

.portfolio-item {
    overflow: hidden;
}

.portfolio-item span {
    font-weight: bold;
}

.portfolio-img {
    height: 300px;
    border-radius: 20px;
    margin: auto;
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio-img:hover,
.portfolio-item:focus .portfolio-img {
    transform: scale(1.2);
    opacity: .9;
}

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
}

.footer a {
    text-decoration: none;
    color: inherit;
}

.footer-email {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

.footer-email:hover,
.social-list:hover {
    opacity: .7;
}

.footer-email:hover {
    text-decoration: underline;
}

.social-list {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list-item {
    margin: .5em;
}

.social-link {
    padding: .5em;
}
